<div class="page-container">
  <div class="product-header">
    <header>
      <h1>Gestão de Produtos</h1>
      <button (click)="logout()" class="logout-button">Logout</button>
    </header>
  </div>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="name" placeholder="Nome">
      @if (productForm.get('name')?.invalid && productForm.get('name')?.touched) {
        <div class="error-message">O nome é obrigatório.</div>
      }
    </div>

    <div>
      <input type="text" formControlName="brand" placeholder="Marca">
      @if (productForm.get('brand')?.invalid && productForm.get('brand')?.touched) {
        <div class="error-message">A marca é obrigatória.</div>
      }
    </div>

    <div>
      <input type="number" formControlName="value" placeholder="Valor">
      @if (productForm.get('value')?.invalid && productForm.get('value')?.touched) {
        <div class="error-message">O valor é obrigatório e deve ser positivo.</div>
      }
    </div>
    
    <div>
      <button class="create-button" type="submit" [disabled]="productForm.invalid">{{ editingProduct ? 'Atualizar' : 'Criar' }}</button>
      
      @if (editingProduct) {
        <button class="cancel-button" type="button" (click)="resetForm()">Cancelar</button>
      }
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Valor</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.value | currency:'BRL' }}</td> <td class="actions-cell">
          <button class="edit-button" (click)="editProduct(product)">Editar</button>
          <button class="delete-button" (click)="deleteProduct(product.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>