<div class="page-container">
  <div class="product-header">
    <header>
      <h1>Gestão de Produtos</h1>
      <button (click)="logout()" class="logout-button">Logout</button>
    </header>

  </div>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name" placeholder="Nome">
    <input type="text" formControlName="brand" placeholder="Marca">
    <input type="number" formControlName="value" placeholder="Valor">
    <button class="create-button" type="submit">{{ editingProduct ? 'Atualizar' : 'Criar' }}</button>
    <button class="cancel-button" type="button" (click)="resetForm()" *ngIf="editingProduct">Cancelar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Valor</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.value }}</td>
        <td>
          <button class="edit-button" (click)="editProduct(product)">Editar</button>
          <button class="delete-button" (click)="deleteProduct(product.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>