html, body {
  height: 100%;
  margin: 0;
  /* Cor de fundo da página inteira */
  background-color: #121212; /* Um fundo escuro como na sua imagem */
}

/* Transforma o body em um container flex para centralizar o conteúdo */
body {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
  font-family: sans-serif;
  background-color: aliceblue;
}